<html>    
     <head>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     </head>
     <body>
   <nav>
     <div class="nav-wrapper">
       <a href="#" class="brand-logo">Logo</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="index.html">HOME</a></li>
         <li><a href="curr.html">MAP</a></li>
         <li><a href="crowd.html">CONTRIBUTE</a></li>
         <li><a href="lead.html">LEADERBOARD</a></li>
       </ul>
     </div>
   </nav>
Welcome to Contribute! Currently we don't have a validation site, only one to add/modify new testing sites. Please read the article below and add/modify testing locations based on what you read. THEN ENTER THE EXACT NAME OF THAT LOCATION INTO THE TEXT BOX BELOW. When you are done, click "Continue". If this article does not provide any new information about a testing site, please click "Skip". You will be awarded {{points}} points per addition/edit once your addition/edit has been checked. DO NOT refresh the page before you're done reading.
   <br/>
<iframe style="float:left" width="50%" height="75%" frameborder="0" allowfullscreen src="//umap.openstreetmap.fr/en/map/testing-locations_443103?scaleControl=true&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=true&moreControl=true&searchControl=true&tilelayersControl=false&embedControl=false&datalayersControl=false&onLoadPanel=undefined&captionBar=false&fullscreenControl=false&locateControl=true&measureControl=false&editinosmControl=false#2/23.4/45.7"></iframe>
<iframe style="float:left" width="50%" height="75%" frameborder="0" src="https://firebase.google.com/docs/firestore/quickstart"></iframe>
 
     </body>
 </html>
