<html>    
     <head>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     </head>
     <body>
   <nav>
<div class="nav-wrapper" style="background-color:#92AEB1">
       <img height=65px src="{{ url_for('static', filename='cc.png') }}">
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="index.html">HOME</a></li>
         <li><a href="curr.html">MAP</a></li>
         <li><a href="crowd.html">CONTRIBUTE</a></li>
         <li><a href="lead.html">LEADERBOARD</a></li>
       </ul>
     </div>
   </nav>
   <iframe width="100%" height="90%" src="https://maphub.net/embed/90293?directions=1&geolocation=1&legend=1&panel=1" frameborder="0" allow="geolocation"></iframe>
     </body>
 </html>
