<html>    
     <head>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     </head>
     <body>
   <nav>
     <div class="nav-wrapper">
       <a href="#" class="brand-logo">Logo</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="index.html">HOME</a></li>
         <li><a href="curr.html">MAP</a></li>
         <li><a href="crowd.html">CONTRIBUTE</a></li>
         <li><a href="lead.html">LEADERBOARD</a></li>
       </ul>
     </div>
   </nav>
   <iframe width="100%" height="100%" frameborder="0" allowfullscreen src="//umap.openstreetmap.fr/en/map/testing-locations_443065?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe>
     </body>
 </html>
