<html>    
    <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
  <nav>
<div class="nav-wrapper" style="background-color:#92AEB1">
       <img height=65px src="{{ url_for('static', filename='cc.png') }}">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="index.html">HOME</a></li>
        <li><a href="curr.html">MAP</a></li>
        <li><a href="crowd.html">CONTRIBUTE</a></li>
        <li><a href="lead.html">LEADERBOARD</a></li>
      </ul>
    </div>
  </nav>
  <center><h1>Welcome to CrowdCOVID!</h1></center>
  <center> <p style="margin-left:70;margin-right:70"> This is a register of COVID testing sites, as has been made multiple times before. However, nearly all if not all of the other major testing site lists are manually updated, and are therefore slow to update. The goal of this project is to quickly compile a list based on news sites, which have data on many test sites other services miss. In particular, we want your help to parse these news sites and add information about new testing sites that pop up! Get points for labelling sites or submitting your own information and cash them in for cool prizes and games to tide you over during these tough times.
      <br/>
    Visit the Contribute tab to start straightaway or visit the Leaderboard tab to see who's at the top!
    <br/>
    Prizes will be awarded to the top players periodically, beginning on a yet-to-be-announced date sometime in the next year. Additionally, points can be spent before the prize award, but they will be removed from the global counter.
    <br/>
    Have Fun! </p> <center>
    </body>
</html>
